<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- Connection string to SCOM database -->
    <add key="SCOMdbConnectionString" value="Data Source=SqlServer;Initial Catalog=OperationsManager;Integrated Security=True;" />
    
    <!-- Disable close button -->
    <add key="DisableCloseButton" value="false" />

    <!-- Hide from taskbar -->
    <add key="HideFromTaskbar" value="false" />

    <!-- Show minize button 
      NOTE! It is recommended to use Install.ps1 -AlwaysShowSystray switch if you set this to false.
        It is also good to know that it looks only working if user is not changed systray shown settings before this.
    -->
    <add key="ShowMinizeButton" value="true" />
    
    <!-- Location top right -->
    <add key="LocationTopRight" value="true" />
    
    <!-- Show/Hide debug section -->
    <add key="DebugMode" value="false" />

    <!-- Test UI without connecting to SCOM -->
    <add key="DemoMode" value="true" />
  </appSettings>
</configuration>
