<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaintenanceStatus" value="false" />
    <add key="MaintenanceUntil" value="" />
    <add key="PlannedMaintenance" value="0" />
    <add key="MaintenananceReason" value="" />
    <add key="MaintenananceComment" value="" />
    <add key="MaintenanceEnabledBy" value="" />
  </appSettings>
</configuration>